<template>
  <div class="simon_wrapper">
    <div class="simon_title">Simon game</div>
    <div class="simon__gameBoard_gridWrap">
      <div
        @mouseover="hoverEvent(1)"
        @mouseleave="hoverEvent(0)"
        @click="blockControl ? '' : onUserSelected(1)"
        class="simon__gameBoard_item-blue"
        :class="activeColorNumber === 1 ? 'blue-active' : ''"
      ></div>
      <div
        @mouseover="hoverEvent(2)"
        @mouseleave="hoverEvent(0)"
        @click="blockControl ? '' : onUserSelected(2)"
        class="simon__gameBoard_item-red"
        :class="activeColorNumber === 2 ? 'red-active' : ''"
      ></div>
      <div
        @mouseover="hoverEvent(3)"
        @mouseleave="hoverEvent(0)"
        @click="blockControl ? '' : onUserSelected(3)"
        class="simon__gameBoard_item-yellow"
        :class="activeColorNumber === 3 ? 'yellow-active' : ''"
      ></div>
      <div
        @mouseover="hoverEvent(4)"
        @mouseleave="hoverEvent(0)"
        @click="blockControl ? '' : onUserSelected(4)"
        class="simon__gameBoard_item-green"
        :class="activeColorNumber === 4 ? 'green-active' : ''"
      ></div>
    </div>
    <div class="simon_roundNumber">Round: {{ roundNumber }}</div>
    <div class="simon_stageMessage">{{ stageMessage }}</div>
    <button @click="startGame" class="simon_startButton">START</button>
    <div class="simon_complexityTitle">Game Complexity</div>
    <div class="simon__complexity_wrap">
      <label class="simon__complexity_radioBtn"
        >Easy
        <input
          type="radio"
          name="radioBtn"
          checked
          value="1000"
          v-model="gameAnimationDelay"
        />
        <span class="simon__complexity_checkmark"></span>
      </label>
      <label class="simon__complexity_radioBtn"
        >Normal
        <input
          type="radio"
          name="radioBtn"
          value="700"
          v-model="gameAnimationDelay"
        />
        <span class="simon__complexity_checkmark"></span>
      </label>
      <label class="simon__complexity_radioBtn"
        >Hard
        <input
          type="radio"
          name="radioBtn"
          value="400"
          v-model="gameAnimationDelay"
        />
        <span class="simon__complexity_checkmark"></span>
      </label>
    </div>
  </div>
</template>

<script>
export default {
  name: "game",
  data() {
    return {
      gameAnimationDelay: 1000,
      gameProgressObject: [],
      enteredUserColors: [],
      activeColorNumber: 0,
      stageMessage: 'Please press the "START" button to start the game',
      roundNumber: 1,
      blockHover: false,
      blockControl: true,
    };
  },
  methods: {
    hoverEvent(section) {
      if (!this.blockHover) {
        this.activeColorNumber = section;
      }
    },
    generateRandomNumber() {
      return Math.floor(Math.random() * 4 + 1);
    },
    startGame() {
      this.clearAllSetTimeout();
      this.roundNumber = 1;
      this.gameProgressObject = [];
      this.enteredUserColors = [];
      this.gameProgressObject.push(this.generateRandomNumber());
      this.phaseOfPlayback();
      this.phaseWaitingForUserInput();
    },
    phaseOfPlayback() {
      this.blockHover = true;
      this.stageMessage = "Remember this sequence of colors.";
      this.blockControl = true;
      this.gameProgressObject.forEach((value, index) => {
        setTimeout(
          function () {
            this.activeColorNumber = value;
            this.playSound(value);
          }.bind(this),
          (index + 1) * this.gameAnimationDelay
        );
        setTimeout(
          function () {
            this.activeColorNumber = 0;
          }.bind(this),
          (index + 1) * this.gameAnimationDelay - this.gameAnimationDelay / 7
        );
      });
    },
    phaseWaitingForUserInput() {
      setTimeout(
        function () {
          this.activeColorNumber = 0;
          this.enteredUserColors = [];
          this.stageMessage = "Now you can choose a sequence of colors.";
          this.blockHover = false;
          this.blockControl = false;
        }.bind(this),
        (this.gameProgressObject.length + 1) * this.gameAnimationDelay -
          this.gameAnimationDelay / 7
      );
    },
    onUserSelected(section) {
      this.playSound(section);
      this.enteredUserColors.push(section);
      this.compareEnteredData();
    },
    compareEnteredData() {
      if (
        !this.compareArrays(this.enteredUserColors, this.gameProgressObject)
      ) {
        this.blockControl = true;
        setTimeout(
          function () {
            this.playSound("error");
          }.bind(this),
          500
        );
        this.stageMessage =
          'WRONG sequence of colors, try again by pressing the "START" button.';
      } else if (
        this.enteredUserColors.length === this.gameProgressObject.length &&
        this.compareArrays(this.enteredUserColors, this.gameProgressObject)
      ) {
        this.blockControl = true;
        this.roundNumber++;
        this.gameProgressObject.push(this.generateRandomNumber());
        this.stageMessage = "Well done, good job !";
        setTimeout(
          function () {
            this.playSound("win");
          }.bind(this),
          500
        );
        setTimeout(
          function () {
            this.phaseOfPlayback();
            this.phaseWaitingForUserInput();
          }.bind(this),
          3000
        );
      }
    },
    compareArrays(a, b) {
      for (let i = 0; i < a.length; i++) {
        if (a[i] !== b[i]) {
          return false;
        }
      }
      return true;
    },
    playSound(atr) {
      new Audio(require(`../audio/${atr}.mp3`)).play();
    },
    clearAllSetTimeout() {
      let highestTimeoutId = setTimeout(";");
      for (let i = 0; i < highestTimeoutId; i++) {
        clearTimeout(i);
      }
    },
  },
};
</script>

<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input:hover,
label:hover,
button:hover {
  cursor: pointer;
}
/*   ---   Simon styles   ---   */
.simon_wrapper {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 320px;
}
.simon_title {
  font-size: 2.5em;
  margin: 20px 0;
  font-weight: 600;
}
.simon__gameBoard_gridWrap {
  display: grid;
  grid-template-areas:
    "itemBlue itemRed"
    "itemYellow itemGreen";
  grid-template-rows: 150px 150px;
  grid-template-columns: 150px 150px;
  gap: 5px;
  margin: 10px 0;
}
.simon__gameBoard_item-blue {
  grid-area: itemBlue;
  background-color: blue;
  opacity: 0.7;
  border-top-left-radius: 100%;
  transition: all 0.2s ease-out;
}
.simon__gameBoard_item-red {
  grid-area: itemRed;
  background-color: red;
  opacity: 0.7;
  border-top-right-radius: 100%;
  transition: all 0.2s ease-out;
}
.simon__gameBoard_item-yellow {
  grid-area: itemYellow;
  background-color: yellow;
  opacity: 0.7;
  border-bottom-left-radius: 100%;
  transition: all 0.2s ease-out;
}
.simon__gameBoard_item-green {
  grid-area: itemGreen;
  background-color: green;
  opacity: 0.7;
  border-bottom-right-radius: 100%;
  transition: all 0.2s ease-out;
}
.simon_roundNumber {
  font-size: 1.3em;
  margin: 10px 0 0 0;
}
.simon_stageMessage {
  font-size: 1.3em;
  margin: 10px 0 0 0;
  text-align: center;
}
.simon_startButton {
  margin: 10px 0;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(173, 60, 173);
  transition: all 0.2s ease-out;
}
.simon_startButton:hover {
  opacity: 0.92;
  box-shadow: 0px 0px 5px 0px rgb(173, 60, 173);
  transform: scale(1.03);
}
.simon_complexityTitle {
  font-size: 1.3em;
  margin: 10px 0 0 0;
}
/*   ---  Style Complexity Buttons  ---   */
.simon__complexity_wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 50px;
}
.simon__complexity_radioBtn {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.3em;
  user-select: none;
}
.simon__complexity_radioBtn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.simon__complexity_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.simon__complexity_radioBtn:hover input ~ .simon__complexity_checkmark {
  background-color: #ccc;
}
.simon__complexity_radioBtn input:checked ~ .simon__complexity_checkmark {
  background-color: rgb(173, 60, 173);
}
.simon__complexity_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.simon__complexity_radioBtn input:checked ~ .simon__complexity_checkmark:after {
  display: block;
}
.simon__complexity_radioBtn .simon__complexity_checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgb(211, 188, 188);
}
/*   ---   Hover colors   ---   */
.blue-active {
  opacity: 1;
  box-shadow: 0px 0px 10px 0px blue;
  cursor: pointer;
  transform: scale(1.02);
}
.red-active {
  opacity: 1;
  box-shadow: 0px 0px 10px 0px red;
  cursor: pointer;
  transform: scale(1.02);
}
.yellow-active {
  opacity: 1;
  box-shadow: 0px 0px 10px 0px yellow;
  cursor: pointer;
  transform: scale(1.02);
}
.green-active {
  opacity: 1;
  box-shadow: 0px 0px 10px 0px green;
  cursor: pointer;
  transform: scale(1.02);
}
</style>
