<template>
  <game />
</template>

<script>
import game from './components/TheGame.vue'

export default {
  name: 'app',
  components: {
    game
  }
}
</script>

<style>
body {
  margin: 0;
  background-color: rgb(182, 181, 181);
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}
</style>
